__pycache__/
.venv
.pytest_cache
.vscode/
.env
framework_index.json
llm.py
main.py
/ai
features/
generated/
generate_tests.py
tests/test_1_home_empety_allure.py
tests/test_2_create_contact_allure.py
tests/test_3_update_contact_allure.py
tests/test_4_delete_contact_allure.py
estimate_cost.py
generate_tests-qwen.py
improve_test.py
llm-qwen.py
allure-results/